* {
    background-color: azure;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vw;
    text-align: center;
}

button {
    background-color: lightsteelblue;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: aliceblue;
}

button:active {
    background-color: azure;
}

div {
    transition: 1s;
}