<!DOCTYPE html>
<html dir="ltr">
    <head>
        <link rel="stylesheet" href="style.css">
        <script src=""></script>
        <meta>
        <title>This is my first HTML example with 188</title>
    </head>
    <!--This is my page-->
    <body style="color: rgb(15, 15, 140); font-family: Arial, Helvetica, sans-serif;">
        <h1 id="PageMainHead" class="typeA"><b><i>188</i></b> web course</h1>
        <h3>This is class 2</h3>
        <p class="typeA">wdijdiwjiwjd ndwidjwi <br> ijmimjik nimk</p>
        <h3>Destinations</h3>
        <ol>
            <li>Jerusalem</li>
            <li>Tel Aviv</li>
            <li>Bet Shean</li>
            <li>Milano</li>
        </ol>
        <a href="https://www.skiresort.info/ski-resort/tignesval-disere/snow-report/" target="_blank">Snow Report</a>
        <br><br>
        <table style="border: 1px black solid;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Omer</td>
                <td>omer@gmail.com</td>
            </tr>
        </table>
        <br>
        <img width="20%" src="../imgs/maxres.jpg" alt="There is no picture found">
        <br>
        <video src="../vids/examp.mp4" controls></video>
    </body>
</html>