<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="GridContainer">
        <div class="item1">
            <h1>header</h1>
        </div>
        <div class="item2">
            <h1>left</h1>
        </div>
        <div class="item3">
            <h1>right</h1>
        </div>
        <div class="item4">
            <img src="../static/penguin.jpg" alt="Penguin" width="60%" class="pic1">
        </div>
        <div class="item5">
            <a href="https://youtu.be/q3uXXh1sHcI" target="_blank">Penguin</a>
        </div>
    </div>
</body>
</html>